{% extends 'header.html' %}
{% block content %}



<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                <section class="comment-area" id="comment-area">
                    <h3>发表文章</h3>
                    {{ form.media }}
                    <form action="" method="post" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <table>{{ form }}</table>
                                <button type="submit" class="comment-btn">发表</button>
                            </div>
                        </div>    <!-- row -->
                    </form>
                </section>
            </main>

        </div>
    </div>
</div>
{% endblock %}
